# Rules on this project:

First of all, you need to read the following rules and understand them.

And then, you need to understand `./doc/index.md` and `./doc/` directory.

## About Documentation

- You should read and update <./doc/index.md> every time.
  - If it doesn't exist, you need to understand the project structure and then create it and write to it.
  - <./doc/index.md> should be stored the project structure and specification.
  - You can create some documentations into <./doc/> if you need.


## Git Rules

- If you are asked about a commit creation, you need to think what should you do by yourself.

- You can use `git` command, but you must follow rules below:
  - Commits must be split by the minimum unit.
    - Files
    - Commit messages
  - You must write a commit message in English.
